<div class="center row justify-content-center align-items-center">
    <section class="form my-4 mx-5 ">
        <div class="container">
            <div class="row row2 no-gutters align-items-center">
                <div class="col-lg-5 py-5">
                    <img src="../../../assets/img/login.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <form>
                        <h1 class="font-weight-bold py-3">¡Hola!, Bienvenido a Naturel</h1>
                        <h2 class="mb-5">Inicio de Sesión</h2>
                        <div class="form-row">
                            <p>¿Eres nuevo con nosotros? <a href="/register">Registrate aquí</a></p>
                            <div class="col-lg-7">
                                <input type="email" class="form-control my-3 p-4" placeholder="Correo Electrónico">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" class="form-control my-3 p-4" placeholder="**************">
                            </div>
                        </div>
                        <p>¿Ólvidaste tu contraseña?. Contacta al administrador.</p>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="btn1 mt-3 mb-5" routerLink="/ventas">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>