/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 12px grey;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #7E57C2;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background: white;
    border: 1px solid;
    color: #7E57C2;
}

.container-fluid {
    justify-content: center;
}