<div class="conntainer">
    <div class="row g-0 justify-content-center">
        <div class="col-sm-8 col-md-6">
            <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_fi8yfbmc.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
        <div class="col-sm-4 py-5 align-self-center">
            <h1 class="font-weight-bold mb-5">¡Ops!. La página no se encuentra.</h1>
            <h2>La página que busca no existe. Puede que se haya movido o eliminado.</h2>
            <div class="row py-3 justify-content-center">
                <button type="button" class="btn btn-lg" routerLink="/login">Regresar al inicio de la página</button>
            </div>
        </div>
    </div>
</div>