.center {
    height: 100vh;
}

.row2 {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 12px grey;
    margin: 20px 0px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #23ABCF;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background: white;
    border: 1px solid;
    color: #23ABCF;
}

.container-fluid {
    justify-content: center;
}