<div class="container-fluid">
    <div class="row ">
        <div class="col-md-8 ">
            <div class="row">
                <h1>Registro de todos los usuarios</h1>
            </div>
            <div class="row justify-content-center py-5">
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success">Actualizar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_hdiNFs.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-primary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo Eléctronico</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chuy Enriquez</td>
                        <td>chuy@gmail</td>
                        <td>Activo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Carlos Fernando Orozco</td>
                        <td>charly@gmail.com</td>
                        <td>Activo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Chema Orozco</td>
                        <td>chema@gmail</td>
                        <td>Activo</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Gero Galvan</td>
                        <td>gero@gmail.com</td>
                        <td>Activo</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Sarahi Rivas</td>
                        <td>sarahi@gmail.com</td>
                        <td>Activo</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>